<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-model="category" ng-options="category.name for category in categories" ng-change="updateRecipeList()">
      <option value="">All Categories</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="addRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div ng-show="!recipes.length" class="grid-100 row">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>

<div ng-repeat="recipe in recipes" ng-show="recipes.length" class="grid-100 row addHover">
  <a ng-href="#!/edit/{{recipe._id}}" ng-click="sendRecipeToService(recipe)">
    <div class="grid-70">
      <p>{{recipe.name}}</p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a ng-href="#!/edit/{{recipe._id}}" ng-click="sendRecipeToService(recipe)"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a ng-click="deleteRecipe(recipe, $index)" class="no-action-link"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
